/* import previous file */
@import url("./20-style.css");

/* all col- classes share float + padding */
[class^="col-"] {
  float: left;
  padding: 0.5rem; /* half of the root element */
}

/* col widths only */
.col-1-3 {
  width: 33.33%;
}

.col-1-2 {
  width: 50%;
}

/* footer copyright */
.footer-copyright {
  margin: 0;
  font-size: var(--font-size-small);
  color: var(--text-color);
}

/* align footer lists */
.footer ul {
  text-align: right;
}
