/* import previous file */
@import url("./21-style.css");

/* dark theme for sections */
[data-section-theme="dark"] {
  --text-color: var(--color-white);
  --section-title-color: var(--color-white);
  background: var(--color-black);
}
