@import url("./25-style.css");

/* testimonial card text centered */
.card-testimonial {
  text-align: center;
}

/* avatar inside testimonial as a round image */
.card-testimonial .card-avatar {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}

/* cite inside card-quote inside testimonial */
.card-testimonial .card-quote cite {
  display: block;
  padding-top: 1rem;
  color: var(--color-primary);
}
