
@import url("./30-style.css");



/* testimonial quote gets its own positioning context */

.card-testimonial .card-quote {

  position: relative;

}



/* big decorative opening quote behind the testimonial text */

.card-testimonial .card-quote::before {

  content: "\201C";

  position: absolute;

  top: -4.5rem;

  left: -1rem;

  color: #efeded;

  font-size: 10rem;

  z-index: -1;

}

