
@import url("./31-style.css");



/* shared transition settings */

:root {

  --transition-duration: .3s;

  --transition-cubic-bezier: cubic-bezier(0.17, 0.67, 0, 1.01);

}



/* animate the nav underline bar */

.nav .nav-link::before {

  transition: var(--transition-duration) var(--transition-cubic-bezier);

}



/* animate the button background and text color on hover */

.button:hover {

  transition-duration: var(--transition-duration);

  transition-property: color, background-color;

}



/* scale the card image when hovering a work card */

.card-work:hover .card-image {

  transform: scale(1.2);

  transition: var(--transition-duration) var(--transition-cubic-bezier);

}



/* slightly shrink the outer work card on hover */

.card-work:hover .card-outer {

  transform: scale(0.95);

}



/* smooth overlay transitions on work cards */

.card-work .card-inner {

  transition: var(--transition-duration) var(--transition-cubic-bezier);

}

